.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--roboto);
    width: 800px;
    max-width: 80%; 
    margin: auto;
}

.carrito > .carrito__title{
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
    color: var(--yellow);
}

.carrito__contenido {
    display: grid;
    gap: 3rem;
    width: 100%;
}

.carrito__contenido .carrito__product-title, .carrito__resumen-title{
    font-size: 1rem;
    text-transform: capitalize;
}

.carrito__resumen {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.carrito__resumen-container{
    background-color: var(--grey-soft);
    border-radius: .4rem;
    padding: 1rem;
    height: fit-content;
    width: 90%;
}

.carrito__resumen p span {
    font-weight: 700;
}

.carrito__product-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: auto;
}

.carrito__product-title{ 
    margin-bottom: 15px;
}


@media (min-width: 768px){
    .carrito__contenido{
        grid-template-columns: 3fr 2fr;
    }

}


/* ! ******** TABLA RESUMEN ******** */

.cartItem {
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey-soft);
}

.cartItem:first-child{
    border-top: 2px solid var(--grey-soft);
}


.cartItem__image{
    width: 100px;
}

.cartItem__info-container{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    width: 100%;
}

.cartItem__name{
    text-transform: uppercase;
    font-size: 1rem;
}

.cartItem__trash-icon{
    background: none;
    outline: none;
    border: none;
}

.cartItem__info-container .productSelected__selectCantidad{
    width: fit-content;
    outline: none;
    border-radius: 5px;
}

.cartItem__info-container .productSelected__multiplier-input{
    outline: none;
    margin-left: 5px;
    width: 45px;  
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

.cartItem__subtotal-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cartItem__subtotal span{
    font-weight: 900;
}

.cartItem__trash-icon {
    cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/*! ********** CARRITO RESUMEN (ASIDE) ****************/

.carrito__realizar-pedido-link{
    width: 100%;
    margin-top: 12px;
}

.carrito__realizar-pedido{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 6px;
    outline: none;
    padding: .9rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9rem;
    font-family: var(--roboto);
    font-weight: 700;
    transition: all .5s;
}

.carrito__realizar-pedido:hover{
    background-color: var(--yellow-strong);
}